.portfolioBanner{
    margin-top: 200px;
    height: 500px;
}
.portfolioBanner__heading{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 65px;
line-height: 150%;
/* or 108px */

text-align: left;


color: #191919;

}
.portfolioBanner__heading span{
    background-image: url("../../assets/portfolio-banner-line.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.portfolioBanner__imageSection{
    text-align: right;
    margin-top: -400px;
}
.portfolioBanner__image{
    /* text-align: left;
    z-index: -1;
    margin-top: 50px; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.portfolioBanner__text{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 150%;
/* or 52px */

text-align: left;

color: #191919;

}