.contactRight{
    background-color: #191919;
    width: 100%;
    height: 100vh;
    padding-top: 25px;
    margin-right: -15px;
}
.contactNav .navbar-nav li a{
    color: white !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 145%;
    /* or 26px */
    
    display: flex;
    align-items: center;
    
  
    }
    .contactRight__heading{
        /* background-image: url('../../assets/contact-right-line.png');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat; */
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 150%;
        /* identical to box height, or 75px */


        color: #FFFFFF;
        margin-top:100px

    }
    .contactRight__bottomLine{
        /* margin-left: 50px; */
        margin-top: -50px;
    }
    .contactRight__btn{
        margin-right: 130px;
        margin-top: 20px;
    }
    .contactRight__smallHeading{
        font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 145%;
/* or 26px */

margin-top:50px;

color: rgba(255, 255, 255, 0.8);
    }
    .contactRight__text{
        font-family: Open Sans;
        font-style: normal;
       
        font-size: 14px;
        line-height: 145%;
        /* or 26px */
        
        text-align: justify;
        margin-left: 144px;
        
        color: rgba(255, 255, 255, 0.8);
    }
    .contactRight__social{
        margin-right: 250px;
    }
    .contactRight__bottomImage{
       position: relative;
       bottom: 350px;
       left: 76px;
       width:200px
    }
    .contactRight__borderBottom{
        border-bottom: 2px solid white;
    }