.contactLeft{
    text-align: left;
    margin-top: 25px;
  
}
.contactLeft__text{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 135%;
/* or 81px */

display: flex;
align-items: center;

color: #191919;
margin: 100px 0px;
}
.contactLeft__image{
    position: absolute;
    top:250px;
    left:130px;
    z-index:10;
}