
.header{
    margin-top: 15px;
}
nav .navbar-nav li a{
    color: black !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 145%;
    /* or 26px */
    
    display: flex;
    align-items: center;
    
    color: #191919;
    }